<div class="row mb-4 pb-4 justify-content-center">
    <h1 class="col-md-8 col-12 text-center">
        Let's Work Together. Get in Touch!
    </h1>
</div>
<div class="row gx-5 justify-content-center">
    <div class="col-md-6 pb-5 text-center">
        <h4>Contact us for student theses, collaborations, and research opportunities.</h4>
    </div>
    
</div>
<div class="row gx-5 justify-content-center">
    <div class="col-md-6 pb-5 text-center">
        <p>
            <a class='btn btn-primary' href='mailto:info@lingo-db.com' target="_blank"><i class="fa fa-envelope"></i> Email Us </a>
        </p>
    </div>
    
</div>