<!--
<div class='row mb-5 pb-5 justify-content-center'>
    <h1 class="col-md-8 col-12 text-center">
        Fastest Database in the West
    </h1>
    <h2>
        Queries Faster Than its Shadow
    </h2>
</div>
-->
<div class="row mb-5 pb-5 justify-content-center">
   <h1 class="col-md-8 col-12 text-center">
      Features
   </h1>
</div>
<div class="container px-5 my-5">
   <div class="row gx-5 mb-4">
       <div class="col-lg-4 mb-5 mb-lg-0 ">
           <h2 class="h4 fw-bolder"><i class="fa-solid fa-gauge-high"></i> JIT Query Compilation</h2>
           <p>LingoDB heavily builds on the MLIR compiler framework for compiling queries to efficient machine
               code without much latency.</p>
       </div>
       <div class="col-lg-4 mb-5 mb-lg-0">
           <h2 class="h4 fw-bolder"><i class="fa-solid fa-code-fork"></i> Flexibility</h2>
           <p>LingoDB uses multiple layers of intermediate representation. This approach allows for high
               flexibility by exchanging layers.</p>
       </div>
       <div class="col-lg-4 mb-5 mb-lg-0">
           <h2 class="h4 fw-bolder"><i class="fa-solid fa-puzzle-piece"></i> Extendable Beyond SQL</h2>
           <p>LingoDB's custom dialects are designed for combination with any other MLIR dialects. Thus,
               LingoDB can be extended to other data processing domains through corresponding MLIR dialects.
           </p>
       </div>
   </div>
   <div class="row gx-5 justify-content-md-center">
       <div class="col-lg-4 mb-5 mb-lg-0 ">
           <h2 class="h4 fw-bolder"><i class="fa-solid fa-diagram-project"></i> Query Optimization</h2>
           <p>LingoDB implements state-of-the-art query optimizations as compiler passes, which allows for
               composing custom optimization pipeline, e.g., for cross-domain optimization.</p>
       </div>
       <div class="col-lg-4 mb-5 mb-lg-0">
           <h2 class="h4 fw-bolder"><i class="fa-solid fa-angles-right"></i> Apache Arrow</h2>
           <p>By using Apache Arrow as in-memory storage format, LingoDB can interact automatically with many
               different systems.</p>
       </div>
       <div class="col-lg-4 mb-5 mb-lg-0">
           <h2 class="h4 fw-bolder"><i class="fa-solid fa-wand-magic-sparkles"></i> Complex SQL</h2>
           <p>LingoDB can run complex analytical SQL queries and thus supports all queries of benchmarks like SSB, TPC-H, TPC-DS, and JOB.
           </p>
       </div>
   </div>
</div>