<!-- jquery & bootstrap-->

<script src="{{ absURL "js/bootstrap.bundle.js" }}"></script>

<!-- reduced fontawesome -->
<!--<script src="/js/fa.js"></script>-->

<!-- dismiss expanded navigation bar with click -->
<!-- 
    <script>$(document).on('click', function() { $('.collapse').collapse('hide'); })</script> 
-->



<!-- Testscript to hide header on scroll down, and let it reappear on scroll-up
    
<script>
    window.onscroll = function(e) { 
        var scrollY = window.pageYOffset || document.documentElement.scrollTop;
        var header = document.querySelector('header');

        scrollY <= this.lastScroll 
        ? header.style.visibility = 'visible'
        : header.style.visibility = 'hidden'; 

        this.lastScroll = scrollY ;
    }
</script>

-->
<!-- other custom JS -->
