<div class="row mb-5 pb-5 justify-content-center">
    <h1 class="col-md-8 col-12 text-center">
        Team
    </h1>
</div>
<!-- Profs -->
<div class='row my-5 justify-content-around'>
        <div class="col-md-3 pb-0 text-center">
            <a href='https://db.in.tum.de/~jungmair/' target="_blank" id="tile">
                <img class='rounded-circle mb-4' src='images/jungmair.jpg' height="150px">
                <h4 class="font-weight-bold">Michael Jungmair</h4>
                <h5>Project Lead</h5>
                <p>TUM</p>
            </a>
       </div>

        <div class="col-md-3 pb-5 text-center">
            <a id = 'tile' target="_blank" href="https://db.in.tum.de/~giceva/">
                <img class='rounded-circle mb-4' src='images/giceva_profile.jpg' height="150px">
                <h4 class="font-weight-bold">Prof. Dr. Jana Giceva</h4>
                <h5>Advisor</h5>
                <p>TUM</p>
            </a>
        </div>
        <div class="col-md-3 pb-5 text-center">
            <a id = 'tile' target="_blank" href="https://db.in.tum.de/~engelke/">
                <img class='rounded-circle mb-4' src='images/engelke.png' height="150px">
                <h4 class="font-weight-bold">Dr. Alexis Engelke</h4>
                <h5>Collaborator</h5>
                <p>TUM</p>
            </a>
        </div>
</div>
<div class='row my-5 justify-content-around'>
    <h2 class="col-md-9 text-center">Students</h2>
    <div class="col-md-9 pb-0 text-center">
    <table class="table">
        <thead>
          <tr>
            <th scope="col">Student</th>
            <th scope="col">Topic</th>
            <th scope="col">Advisor(s)</th>
            <th scope="col">Type</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Robert Imschweiler</td>
            <td>Transforming Data Frame Operations from Python to MLIR</td>
            <td>Engelke, Jungmair</td>
            <td>B.Sc. Thesis</td>
          </tr>
          <tr>
            <td>Florian Drescher</td>
            <td>A template-based code generation backend for MLIR</td>
            <td>Engelke</td>
            <td>Guided Research</td>
          </tr>
          <tr>
            <td>Raoul Zebisch</td>
            <td>Sub-Operator Placement on GPUs for accelerating analytical queries</td>
            <td>Jungmair</td>
            <td>M.Sc. Thesis</td>
          </tr>
          <tr>
            <td>Pascal Ginter</td>
            <td>C-Backend, Index-Nested Loop Joins, Query Plan Visualization</td>
            <td>Jungmair</td>
            <td>Research Assistant</td>
          </tr>
        </tbody>
      </table>
      </div>
</div>
