{{ define "main"}}

<main>
    <div class='py-5'>
        <div class='container py-5'>
            <p class="text-center section-header pt-3">
                404 – Page not found  
            </p>
            <div class='row my-5 text-left justify-content-center'>
                <div class='col-12 col-md-9'>
                    <h1>Oops! This page was not found on this website. Sorry.</h1>
                    <h2>Go Back To Home Page</h2>
                </div>
            </div>
        </div>
    </div> 
</main>

{{ end }}

