{{ define "main" }}
    {{ partial "header" . }}
    <div id='#'></div>

    <header class="bg-dark py-5 mt-5">
        <div class="text-center">
            <h1 class="fw-bolder text-white">LingoDB - Revolutionizing Data Processing with Compiler Technology</h1>
        </div>
        <div class="container px-5 my-5">
    
            <div class="row gx-5">
                <div class="col-lg-12 mb-1 ">
                    <p class="text-center text-white lead">
                        LingoDB is a cutting-edge data processing system that leverages compiler technology to achieve unprecedented flexibility and extensibility without sacrificing performance. It supports a wide range of data-processing workflows beyond relational SQL queries, thanks to declarative sub-operators. Furthermore, LingoDB can perform cross-domain optimization by interleaving optimization passes of different domains and its flexibility enables sustainable support for heterogeneous hardware.
                    </p>
                    <div class="col text-center">

                    <a class="btn btn-primary" href='/interface'>
                        <i class="fa fa-play"></i>  Try Demo Now
                    </a>
                    <a class="btn btn-secondary" href='https://github.com/lingo-db/lingo-db'>
                        <i class="fa-brands fa-github"></i> Code on Github
                    </a>
                    </div>

                </div>
            </div>
        </div>
    </header>

    {{ if .Site.Menus.main }}
        {{ range sort .Site.Menus.main }}
            {{ $path := ".html" | printf "%s%s" .Identifier | printf "%s"}}
            <div id="{{ .Identifier }}" class='py-5'>
                <div class='container py-5'>
                    <!--<p class="text-center section-header pt-3">
                        {{.Name}}
                    </p>-->
                    {{partial $path $}}
                </div>
            </div>
        {{end}}
    {{ end }}

    {{ partialCached "footer" . }}
{{ end }}

